<%- include("partials/header"); %>

<h1>Hello World</h1>
<p class="line-clamp-4" ><%= homeStartingContent %></p>

<% 
    for( const obj of post ){
        //console.log(obj.title);

        %>
        <h1><%= obj.title %></h1>
        <p><%= obj.post.substring(0,100) + " ... " %> <a href="/posts/<%= obj.title %>">Read More</a> </p>
        
   <% }
%>


<%# it includes the footer %>
<%- include("partials/footer"); %>

